<table>
    <tr>
        <th>{% trans %}Region{% endtrans %}</th>
        <th>{% trans %}City{% endtrans %}</th>
        <th>{% trans %}Actions{% endtrans %}</th>
    </tr>

    {% for city in cities %}
        <tr>
            <td>
                {{ city.region.name }}
            </td>
            <td>
                {{ city.name }}
            </td>
            <td class="buttons">
                <a href="{{ path('city', {'id':city.id}) }}" class="btn-view">{% trans %}View{% endtrans %}</a>
                {% if (is_granted('ROLE_ADMIN')) %}
                    <a href="{{ path('city', {'id':city.id}) }}" class="btn-edit">{% trans %}Edit{% endtrans %}</a>
                    {# <a href="{{ path('venue_delete', {'id':venue.id}) }}" class="btn-delete">{% trans %}Delete{% endtrans %}</a> #}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
