<!DOCTYPE html>
<html>
{% set current_route_name = app.request.attributes.get('_route') %}
{% set current_locale = app.request.getLocale() %}
{% set allowed_locales = ["en","es"] %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block head_js %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    {% endblock %}
    {% block stylesheets %}
        <link href="{{ asset('assets/css/style.css') }}" type="text/css" rel="stylesheet"/>
    {% endblock %}
</head>
<body>
{% block header %}
    <div id="header">
        <h1>Tareas Symfony <!-- ({{ current_route_name }}) --></h1>
        <ul id="menu">
            {% if app.user %}
                <li><a href="{{ path("tasks_mine") }}">{% trans %}My Tasks{% endtrans %}</a></li>
                <li><a href="{{ path("task_create") }}">+</a></li>
                <!--
                <li class="right"><a href="{{ path("logout") }}">Logout</a></li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="right"><a href="{{ path("users") }}">Usuarios</a></li>
                    <li class="right"><a href="{{ path("tasks") }}">Tareas</a></li>
                {% endif %}
                <li class="right"><a href="{{ path('user_edit', {'id':app.user.id}) }}">{{ app.user.name }}</a></li>
                -->
                {{ include('includes/menu/language-switch.html.twig') }}
                <li class="right dropdown">
                    <a href="{{ path('user_edit', {'id':app.user.id}) }}" class="dropbtn">{{ app.user.name }}</a>
                    <div class="dropdown-content">
                        <a href="{{ path("customers_mine") }}">{% trans %}Customers{% endtrans %}</a>
                        <hr/>
                        <a href="{{ path("user_password_change") }}">Password</a>
                        <a href="{{ path("logout") }}">{% trans %}Logout{% endtrans %}</a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <hr/>
                            <a href="{{ path("users") }}">{% trans %}Users{% endtrans %}</a>
                            <a href="{{ path("customers") }}">{% trans %}Customers{% endtrans %}</a>
                            <a href="{{ path("tasks") }}">{% trans %}Tasks{% endtrans %}</a>
                            <a href="{{ path("venue_list") }}">{% trans %}Venues{% endtrans %}</a>
                            <a href="{{ path("region_list") }}">{% trans %}Regions{% endtrans %}</a>
                            <a href="{{ path("city_list") }}">{% trans %}Cities{% endtrans %}</a>
                        {% endif %}
                    </div>
                </li>
            {% else %}
                <li><a href="{{ path("login") }}">{% trans %}Login{% endtrans %}</a></li>
                <li><a href="{{ path("register") }}">{% trans %}Registration{% endtrans %}</a></li>
                {{ include('includes/menu/language-switch.html.twig') }}
            {% endif %}
        </ul>
    </div>
    <div class="clearfix"></div>
{% endblock %}
{# pass an array argument to get the messages of those types  #}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
